In [33]:
import pandas as pd
import numpy as np

pd.options.display.max_columns=999
pd.options.display.max_rows=999


import plotly.express as px
import folium

In [10]:
df        = pd.read_csv('../data/SIHSUS/sihsus_estabelecimento.csv')
hospitais = pd.read_csv('../data/Codigos/hospitais_locations.csv')

In [19]:
df['hospital'] = df['Estabelecimento'].apply(lambda x: x[8:]).str.strip()
df['Data'] = pd.to_datetime(df['ano'].astype(str) + "-" + df['mes'].astype(str))

In [20]:
cols = ['hospital','administrative_area_level_2','administrative_area_level_3','administrative_area_level_4', 'lat','lng']


df_hospitais = pd.merge(hospitais[cols], df, on='hospital', how='outer')

In [22]:
df_hospitais.head()

,hospital,administrative_area_level_2,administrative_area_level_3,administrative_area_level_4,lat,lng,Estabelecimento,AIH aprovadas,Internações,Valor total,Valor serviços hospitalares,Val serv hosp - compl federal,Val serv hosp - compl gestor,Valor serviços profissionais,Val serv prof - compl federal,Val serv prof - compl gestor,Valor médio AIH,Valor médio intern,Dias permanência,Média permanência,Óbitos,Taxa mortalidade,ano,mes,Data
0,UPA BANGU,Santo André,NaN,NaN,-23.640786,-46.52786,0008494 UPA BANGU,58,58,16298.19,14365.97,-,-,1932.22,-,-,281.00,281.00,143,2.5,3,5.17,2008,1,2008-01-01
1,UPA BANGU,Santo André,NaN,NaN,-23.640786,-46.52786,0008494 UPA BANGU,173,173,45588.80,40053.17,-,-,5535.63,-,-,263.52,263.52,430,2.5,7,4.05,2008,2,2008-02-01
2,UPA BANGU,Santo André,NaN,NaN,-23.640786,-46.52786,0008494 UPA BANGU,92,92,19492.60,16877.10,-,-,2615.50,-,-,211.88,211.88,174,1.9,2,2.17,2008,3,2008-03-01
3,UPA BANGU,Santo André,NaN,NaN,-23.640786,-46.52786,0008494 UPA BANGU,91,91,19831.18,17034.84,-,-,2796.34,-,-,217.93,217.93,198,2.2,4,4.40,2008,4,2008-04-01
4,UPA BANGU,Santo André,NaN,NaN,-23.640786,-46.52786,0008494 UPA BANGU,122,122,24162.09,20932.78,-,-,3229.31,-,-,198.05,198.05,306,2.5,5,4.10,2008,5,2008-05-01

In [29]:
mask = df_hospitais['administrative_area_level_2']=='Assis'

# px.line(df_hospitais[mask], x='Data', y='Valor total', color='hospital')

hospitais_assis = df_hospitais[mask]

In [31]:
# hospitais_assis

In [48]:
ano = 2019
mes = 9

mask = (hospitais_assis['ano']==ano) & (hospitais_assis['mes']==mes)

hospitais_assis = hospitais_assis[mask]

In [49]:
locations = hospitais_assis[['lat', 'lng']]
locationlist = locations.values.tolist()

In [51]:
hospitais_assis.head()

,hospital,administrative_area_level_2,administrative_area_level_3,administrative_area_level_4,lat,lng,Estabelecimento,AIH aprovadas,Internações,Valor total,Valor serviços hospitalares,Val serv hosp - compl federal,Val serv hosp - compl gestor,Valor serviços profissionais,Val serv prof - compl federal,Val serv prof - compl gestor,Valor médio AIH,Valor médio intern,Dias permanência,Média permanência,Óbitos,Taxa mortalidade,ano,mes,Data
45542,SANTA CASA DE ASSIS,Assis,NaN,NaN,-22.660269,-50.409098,2081083 SANTA CASA DE ASSIS,380,380,344245.23,266590.43,-,-,77654.80,-,-,905.91,905.91,1094,2.9,8,2.11,2019,9,2019-09-01
59924,HOSPITAL REGIONAL DE ASSIS,Assis,NaN,NaN,-22.660194,-50.410112,2083094 HOSPITAL REGIONAL DE ASSIS,456,456,693575.20,553003.60,-,-,140571.60,-,-,1521.00,1521.00,2544,5.6,35,7.68,2019,9,2019-09-01

In [56]:
map2 = folium.Map(location=[-22.157651, -48.054817], zoom_start=7)

marker_cluster = folium.plugins.MarkerCluster().add_to(map2)

for point in range(0, len(locationlist)):
    folium.Marker(locationlist[point], popup=(hospitais_assis['Valor total']).tolist()[point]).add_to(marker_cluster)
#     print(locationlist[point])

    
    
map2