In [3]:
import pandas as pd
import numpy as np

from os import listdir
from os.path import isfile, join
from os import path


import wget
import gc


import rpy2.robjects.packages as rpackages
from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri
#install.packages("read.dbc")
utils = rpackages.importr('read.dbc')
utils_package = importr("utils")

In [4]:
anos   = ['18','19']
months = ['01','02','03','04','05','06','07','08','09','10','11','12']


for ano in anos:
    for mes in months:
        file = 'SPSP{}{}.dbc'.format(ano,mes)
        url =     'ftp://ftp.datasus.gov.br/dissemin/publicos/SIHSUS/200801_/Dados/{}'.format(file)
        try:
            if path.exists("../data/SIHSUS/dbc/{}".format(file)):
                print(file, 'already exist')
                pass
            else:
                wget.download(url, out='../data/SIHSUS/dbc')
                print(url)
        except:
            print('Error on file: {}'.format(file))

SPSP1801.dbc already exist
SPSP1802.dbc already exist
SPSP1803.dbc already exist
SPSP1804.dbc already exist
SPSP1805.dbc already exist
SPSP1806.dbc already exist
SPSP1807.dbc already exist
SPSP1808.dbc already exist
SPSP1809.dbc already exist
SPSP1810.dbc already exist
SPSP1811.dbc already exist
SPSP1812.dbc already exist
SPSP1901.dbc already exist
SPSP1902.dbc already exist
SPSP1903.dbc already exist
SPSP1904.dbc already exist
SPSP1905.dbc already exist
SPSP1906.dbc already exist
SPSP1907.dbc already exist
SPSP1908.dbc already exist
SPSP1909.dbc already exist
Error on file: SPSP1910.dbc
Error on file: SPSP1911.dbc
Error on file: SPSP1912.dbc

In [5]:
path_dbc = '../data/SIHSUS/dbc'
path_parquet = '../data/SIHSUS/parquet'
onlyfiles = [f for f in listdir(path_dbc) if isfile(join(path_dbc, f))]
file_dbc = ["{}/{}".format(path_dbc,file) for file in onlyfiles]
file_parquet = ["{}/{}".format(path_parquet,file.replace('.dbc','.parquet')) for file in onlyfiles]

In [9]:
for dbc_file, parquet_file in zip(file_dbc, file_parquet):
    
    if path.exists(parquet_file):
        print(parquet_file,'already exist','\n')
        pass
    else:
        r_df = utils.read_dbc(dbc_file)
        
        print('loaded in R df')
        
        utils_package.write_csv(r_df, 'file_to_convert.csv', fileEncoding='utf-8')
        
        print('saved .csv')
        
        df = pd.read_csv('file_to_convert.csv')
        print('loaded in pandas df')
        
        cols = ['SP_GESTOR','SP_UF','SP_AA','SP_MM','SP_CNES','SP_NAIH','SP_PROCREA','SP_DTINTER','SP_DTSAIDA','SP_NUM_PR','SP_TIPO','SP_CPFCGC','SP_ATOPROF',
        'SP_TP_ATO','SP_QTD_ATO','SP_PTSP','SP_NF','SP_VALATO','SP_M_HOSP','SP_M_PAC','SP_DES_HOS','SP_DES_PAC','SP_COMPLEX','SP_FINANC','SP_CO_FAEC',
        'SP_PF_CBO','SP_PF_DOC','SP_PJ_DOC','IN_TP_VAL','SEQUENCIA','REMESSA','SERV_CLA','SP_CIDPRI','SP_CIDSEC','SP_QT_PROC','SP_U_AIH']
        df = df[cols]
        
        obj_cols = list(df.select_dtypes(include=['object']).columns)
        for col in obj_cols:
            df[col] = df[col].astype(str)

        df.to_parquet(parquet_file, index=False)
        
        
        
        del r_df
        gc.collect()
        del df
        gc.collect()
        
        
        print(parquet_file, '\n')

../data/SIHSUS/parquet/SPSP1801.parquet already exist

../data/SIHSUS/parquet/SPSP1802.parquet already exist

../data/SIHSUS/parquet/SPSP1803.parquet already exist

../data/SIHSUS/parquet/SPSP1804.parquet already exist

../data/SIHSUS/parquet/SPSP1805.parquet already exist

../data/SIHSUS/parquet/SPSP1806.parquet already exist

../data/SIHSUS/parquet/SPSP1807.parquet already exist

loaded in R df
saved .csv

/home/m/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (17,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

loaded in pandas df
../data/SIHSUS/parquet/SPSP1808.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1809.parquet

loaded in R df
saved .csv

/home/m/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (17,26,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

loaded in pandas df
../data/SIHSUS/parquet/SPSP1810.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1811.parquet

loaded in R df
saved .csv

/home/m/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

loaded in pandas df
../data/SIHSUS/parquet/SPSP1812.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1901.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1902.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1903.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1904.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1905.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1906.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1907.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1908.parquet

loaded in R df
saved .csv
loaded in pandas df
../data/SIHSUS/parquet/SPSP1909.parquet

In [10]:
df = pd.read_parquet('../data/SIHSUS/parquet/SPSP1909.parquet')

In [14]:
df.head()

,SP_GESTOR,SP_UF,SP_AA,SP_MM,SP_CNES,SP_NAIH,SP_PROCREA,SP_DTINTER,SP_DTSAIDA,SP_NUM_PR,...,SP_PF_DOC,SP_PJ_DOC,IN_TP_VAL,SEQUENCIA,REMESSA,SERV_CLA,SP_CIDPRI,SP_CIDSEC,SP_QT_PROC,SP_U_AIH
0,350000,35,2019,9,2077426,3519120040876,411020013,20190824,20190828,NaN,...,980016281474541,0,2,47009,HE35000001N201909.DTS,0,O030,0,0,0
1,350000,35,2019,9,2077426,3519120040876,411020013,20190824,20190828,NaN,...,0,2077426,1,47009,HE35000001N201909.DTS,121002,O030,0,1,0
2,350000,35,2019,9,2077426,3519120040876,411020013,20190824,20190828,NaN,...,0,2077426,1,47009,HE35000001N201909.DTS,120001,O030,0,1,0
3,350000,35,2019,9,2077426,3519120040876,411020013,20190824,20190828,NaN,...,0,2077426,1,47009,HE35000001N201909.DTS,0,O030,0,2,0
4,350000,35,2019,9,2077426,3519120040876,411020013,20190824,20190828,NaN,...,0,2077426,1,47009,HE35000001N201909.DTS,0,O030,0,1,0

In [ ]:
df['SP_GESTOR'].unique()

In [22]:
mask = df['SP_CNES']==8028
df[mask]

,SP_GESTOR,SP_UF,SP_AA,SP_MM,SP_CNES,SP_NAIH,SP_PROCREA,SP_DTINTER,SP_DTSAIDA,SP_NUM_PR,...,SP_PF_DOC,SP_PJ_DOC,IN_TP_VAL,SEQUENCIA,REMESSA,SERV_CLA,SP_CIDPRI,SP_CIDSEC,SP_QT_PROC,SP_U_AIH
2256008,353440,35,2019,9,8028,3519116356096,407020039,20190919,20190922,NaN,...,704004383324069,0,2,1164,HM35344001N201909.DTS,0,K359,0,0,0
2256009,353440,35,2019,9,8028,3519116356063,407020063,20190909,20190922,NaN,...,0,8028,1,1163,HM35344001N201909.DTS,142001,C229,0,1,0
2256010,353440,35,2019,9,8028,3519116356096,407020039,20190919,20190922,NaN,...,700801422868785,0,2,1164,HM35344001N201909.DTS,0,K359,0,0,1
2256011,353440,35,2019,9,8028,3519116356096,407020039,20190919,20190922,NaN,...,980016282174398,0,2,1164,HM35344001N201909.DTS,0,K359,0,0,0
2256012,353440,35,2019,9,8028,3519116356096,407020039,20190919,20190922,NaN,...,700801422868785,0,2,1164,HM35344001N201909.DTS,0,K359,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275540,353440,35,2019,9,8028,3519116356063,407020063,20190909,20190922,NaN,...,0,8028,1,1163,HM35344001N201909.DTS,0,C229,0,3,0
2275541,353440,35,2019,9,8028,3519116356063,407020063,20190909,20190922,NaN,...,0,8028,1,1163,HM35344001N201909.DTS,0,C229,0,2,0
2275542,353440,35,2019,9,8028,3519116356063,407020063,20190909,20190922,NaN,...,0,8028,1,1163,HM35344001N201909.DTS,0,C229,0,1,0
2275543,353440,35,2019,9,8028,3519116356063,407020063,20190909,20190922,NaN,...,0,8028,1,1163,HM35344001N201909.DTS,0,C229,0,2,0
2275544,353440,35,2019,9,8028,3519116356063,407020063,20190909,20190922,NaN,...,0,8028,1,1163,HM35344001N201909.DTS,142001,C229,0,1,0

In [16]:
from simpledbf import Dbf5

In [17]:
dbf = Dbf5('TCNESSP.DBF').to_dataframe()

In [20]:
dbf

        CNES                                           NOMEFANT UF_ZI    CMPT
0    0008028                  HOSPITAL MUNICIPAL ANTONIO GIGLIO    35  201905
1    0008036                 HOSPITAL MATERNIDADE AMADOR AGUIAR    35  201905
2    0008052  HOSPITAL REGIONAL DR VIVALDO MARTINS SIMOES OS...    35  201905
3    0008087           PRONTO SOCORRO CONRADO CESARINO NUVOLINI    35  201905
4    0008141            PRONTO SOCORRO DR ANTONIO FLAVIO FRANCA    35  201905
..       ...                                                ...   ...     ...
757  9491252  DR RUBENS SAVASTANO HOSPITAL REGIONAL DE SAO J...    35  201905
758  9556095             HOSPITAL REGIONAL DE REGISTRO REGISTRO    35  201905
759  9580743                                    AME SAO VICENTE    35  201905
760  9677011  HOSPITAL E MATERNIDADE MUNICIPAL N S DO MONTE ...    35  201902
761  9680500                                               AHBB    35  201905

[762 rows x 4 columns]

In [23]:
from seabird.cnv import fCNV

In [24]:
fCNV('br_municgestor.cnv')

CNVError: 'There are no rules able to parse the input. File: br_municgestor.cnv'